/*------------------------------------------------------------
-----------------------General styles-------------------------
------------------------------------------------------------*/

/*Google fonts import Merriweather and News Cycle*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=News+Cycle:wght@400;700&display=swap');

/*Override default "content-box" style*/
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: #ffffff;
    position: relative;
    top: 70px;
    letter-spacing: 3px;
}

h2{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.75rem;
    color: #000000;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.75rem;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
}

/*------------------------------------------------------------
-----------------------Header styles--------------------------
------------------------------------------------------------*/

/*Hero styles*/
.hero{
    background-image: url(../images/hero.webp);
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    padding-bottom: 3em;
    background-attachment: scroll;
}

.overlay{
    position: absolute;
    top: 90.88px;
    left: 0;
    width: 100%;
    height: 5.1rem;
    background: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

/*Align navbar horizontally*/
#navigation{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: darkolivegreen;
    margin: 0;
    padding: 16px;
    font-size: 1.5rem;
}

nav li{
    display: inline-block;
    margin: 0 10px;
}

.selected{
    border: 2px solid #000000;
    padding: 5px 18px;
    background-color: tan;
    color: #000000;
}

/*------------------------------------------------------------
-----------------------Main content styles--------------------
------------------------------------------------------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /*Stretch main to push footer down*/
    flex: 1 0 auto;
    background-image: url(../images/marble-background.webp);
    background-size: cover;
}

.contain-img{
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.style-img{
    width: 100%;
    max-height: 600px;
    aspect-ratio: 1;
    border: solid 5px darkolivegreen;
}

img{
    border-radius: 12px;
}

.center-text{
    text-align: center;
}

.text{
    font-size: 1.5rem;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
    text-align: justify;
    padding: 5px 20px;
}

/*Form styles*/
input, textarea{
    display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'News Cycle', sans-serif;
    min-width: 60%;
    padding: 5px 8px;
}

label{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
}

input{
    margin-bottom: 2em;
}

button{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3rem;
    font-family: 'News Cycle', sans-serif;
}

/*Table styles*/
th{
    font-size: 1.5rem;
}

table{
    width: 100%;
    margin-bottom: 30px;
}

td, th{
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0.375rem;
    border: 1px solid darkolivegreen;
}

.table-underlay{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*------------------------------------------------------------
-----------------------Footer styles--------------------------
------------------------------------------------------------*/

footer{
    background-color: darkolivegreen;
    height: 95px;
}

#social-media{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 0px;
    gap: 2em;
    font-size: 2.5rem;
    border-top:1px solid #000000;
    background-color: darkolivegreen;
}

footer h2{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #ffffff;
    font-size: 1.5rem;
}

.fa-brands,
.fa-solid{
    color: tan;
    font-size: 2rem;
}

/*------------------------------------------------------------
-----------------------Media query > 768px------------------
------------------------------------------------------------*/

/*Move homepage images next to each other at screen sizes wider than 768px*/
@media (min-width: 768px){
    .center-text{
        display: flex;
    }

    .flex-container{
        display: flex;
        margin-bottom: 60px;
        margin-top: 50px;
    }

    .contain-img{
        order: -1;
        min-width: 50%;
        max-width: 600px;
        margin-top: 26.56px;
    }

    .style-img{
        max-width: 600px;
    }

    a{
        font-size: 2rem;
    }

    .index-h2{
        font-size: 2rem;
        position: relative;
        height: 150px;
        top: 0px;
        right: -5%;
        min-width: 40%;
    }

    .menu-h2{
        font-size: 2.25rem;
    }

    .contact-h2{
        font-size: 2rem;
    }

    .text{
        position: relative;
        top: 15%;
        left: -38%;
        min-width: 45%;
        margin-top: 40px;
    }

    th{
        font-size: 2rem;
    }

    td{
        font-size: 1.5rem;
    }

    label{
        font-size: 2rem;
    }

    button{
        font-size: 2rem;
    }

    input,
    textarea{
        font-size:1.5rem
    }

    footer h2{
        font-size: 2.5rem;
    }

    .fa-brands,
    .fa-solid{
        font-size: 3rem;
    }
}

/*------------------------------------------------------------
-----------------------Media query > 900px------------------
------------------------------------------------------------*/

@media (min-width: 900px){
    h1{
        top: 130px;
    }
    
    h2{
    font-size: 2.25rem;
    }

    .index-h2{
        font-size: 2.25rem;
    }

    .menu-h2{
        font-size: 2.5rem;
    }

    .contact-h2{
        font-size: 2.25rem;
    }

    a{
        font-size: 2.25rem;
        padding-left: 60px;
        padding-right: 60px;
    }

    .overlay{
        top: 209px;
    }

    .text{
        top: 20%;
        font-size: 1.75rem;
        word-spacing: 2px;
        line-height: 35px;
    }

    label{
        font-size: 2.5rem;
    }

    button{
        font-size: 2.5rem;
    }

    input,
    textarea{
        font-size: 2rem;
    }

    footer h2{
        font-size: 3.25rem;
    }

    .fa-brands,
    .fa-solid{
        font-size: 4rem;
    }

    th{
        font-size: 2rem;
    }

    td{
        font-size: 1.5rem;
    }
}

/*------------------------------------------------------------
-----------------------Media query > 1440px------------------
------------------------------------------------------------*/

@media (min-width: 1440px){
    h1{
        font-size: 4rem;
        top: 159px;
    }

    .index-h2{
        font-size: 2.5rem;
    }

    a{
        font-size: 2.5rem;
        padding-left: 80px;
        padding-right: 80px;
    }

    .overlay{
        top: 265px;
    }

    .menu-h2{
        font-size: 3.5rem;
    }

    .contact-h2{
        font-size: 3rem;
    }

    .text{
        padding-top: 80px;
        font-size: 2.25rem;
        line-height: 55px;
    }

    th{
        font-size: 2.5rem;
    }

    td{
        font-size: 2rem;
    }

    label{
        font-size: 3rem;
    }

    button{
        font-size: 3rem;
    }

    input,
    textarea{
        font-size: 2.5rem;
    }

    footer h2{
        font-size: 4rem;
    }

    .fa-brands,
    .fa-solid{
        font-size: 5rem;
    }
}

/*------------------------------------------------------------
-----------------------Media query >1680px--------------------
------------------------------------------------------------*/
@media (min-width: 1680px){
    h1{
        font-size: 6rem;
        top: 180px
    }

    .index-h2{
        font-size: 4rem;
        position: relative;
        height: 150px;
        top: 0px;
        right: -3%;
        min-width: 40%;
    }

    .overlay{
        top: 311px;
        height: 9.1rem;
    }

    a{
        font-size: 3rem;
    }

    .text{
        position: relative;
        font-size: 2.5rem;
        top: 20%;
        left: -40%;
        min-width: 45%;
        margin-top: 40px;
    }

    .menu-h2{
        font-size: 3.5rem;
    }

    .contact-h2{
        font-size: 3.5rem;
    }
    
    .fa-brands,
    .fa-solid{
        font-size: 5.75rem;
    }
}