/*------------------------------------------------------------
-----------------------General styles-------------------------
------------------------------------------------------------*/


/*Asterisk wildcard selector to override default styles added from the browser*/
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

/*------------------------------------------------------------
-----------------------Header styles--------------------------
------------------------------------------------------------*/

/*Align navbar horizontally*/
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li{
    margin-right: 2.5em;
}

nav a{
    text-decoration: none;
}

/*------------------------------------------------------------
-----------------------Main content styles--------------------
------------------------------------------------------------*/

main{
    display: flex;
    flex-direction: column;
    /*Stretch main to push footer down*/
    flex: 1 0 auto;
}

/*------------------------------------------------------------
-----------------------Footer styles--------------------------
------------------------------------------------------------*/