/*------------------------------------------------------------
-----------------------General styles-------------------------
------------------------------------------------------------*/

/*Google fonts import Merriweather and Alef*/
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*Override default "content-box" style*/
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../images/marble-background.webp);
    background-size: cover;
}

h1, h2{
    text-align: center;
    font-family: Merriweather, serif;
}

/*------------------------------------------------------------
-----------------------Header styles--------------------------
------------------------------------------------------------*/

/*Align navbar horizontally*/
#navigation{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li{
    margin-right: 2.5em;
}

nav a{
    text-decoration: none;
    color: #000000;
}

.selected{
    border: 1px solid #000000;
    padding: 3px 1px;
    background-color: #e1c699;
}

/*------------------------------------------------------------
-----------------------Main content styles--------------------
------------------------------------------------------------*/

main{
    display: flex;
    flex-direction: column;
    /*Stretch main to push footer down*/
    flex: 1 0 auto;
}



/*------------------------------------------------------------
-----------------------Footer styles--------------------------
------------------------------------------------------------*/

footer{
    background-color: #e1c699;
}

#social-media{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    gap: 1.5em;
    font-size: 34px;
    border-top:1px solid #000000;
}

footer h2{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 728px;
}